In [1]:
phrase1 = "les oeufs durs."
phrase2 = "Oui, repondit-il,"
phrase3 = "j'aime bien"
print(phrase2, phrase3, phrase1)

print(phrase2)
print(phrase3)
print(phrase1)

print(phrase2+"__"+phrase3+"__"+phrase1)

Oui, repondit-il, j'aime bien les oeufs durs.
Oui, repondit-il,
j'aime bien
les oeufs durs.
Oui, repondit-il,__j'aime bien__les oeufs durs.

In [2]:
print("%s__%s__%s"%(phrase2, phrase3, phrase1))

print("{}--{}--{}".format(phrase2, phrase3, phrase1))
produit = "cafe"
prix = 0.456
print("Les %s coûtent %.2f euros" % (produit, prix))

Oui, repondit-il,__j'aime bien__les oeufs durs.
Oui, repondit-il,--j'aime bien--les oeufs durs.
Les cafe coûtent 0.46 euros

In [3]:
print(phrase2 + "\t"+phrase3+"\n"+phrase1)
print("%s\t%s\n%s"%(phrase2, phrase3, phrase1))

Oui, repondit-il,	j'aime bien
les oeufs durs.
Oui, repondit-il,	j'aime bien
les oeufs durs.

In [4]:
print("Le %s coûte \n\t %.2f euros sans sucre\n\t idem avec"%(produit, prix))

Le cafe coûte
	 0.46 euros sans sucre
	 idem avec

In [5]:
toto = 'N\'est-ce pas?'

In [6]:
print(toto)

N'est-ce pas?

In [7]:
ch = "Stephanie mange."
print(ch[0], ch[3])

S p

In [8]:
print(len(ch))

16

In [10]:
ch = "8000"
n = 45
ch = int(ch)
print(ch+n)

8045

In [12]:
s = "bonjour"
n = 5
print(s*n)

bonjourbonjourbonjourbonjourbonjour

In [13]:
jour = ["lundi", "mardi", "mercredi", 1800, 20.357, "jeudi", "vendredi"]
print(jour)

['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']

In [14]:
print(jour[2])

mercredi

In [15]:
for toto in jour:
    print(toto)

lundi
mardi
mercredi
1800
20.357
jeudi
vendredi

In [16]:
for toto in jour:
    print(toto, type(toto))

lundi <class 'str'>
mardi <class 'str'>
mercredi <class 'str'>
1800 <class 'int'>
20.357 <class 'float'>
jeudi <class 'str'>
vendredi <class 'str'>

In [17]:
jour[3] = "juillet"

In [18]:
len(jour)

7

In [19]:
del(jour[4])

In [20]:
print(jour)

['lundi', 'mardi', 'mercredi', 'juillet', 'jeudi', 'vendredi']

In [22]:
jour.append("samedi")

In [24]:
print("veuillez entrer un nombre positif quelconque")
nn = int(input())
print("Le carré de", nn, "vaut", nn**2)

veuillez entrer un nombre positif quelconque
5
Le carré de 5 vaut 25

In [25]:
prenom = input("entrez votre prénom (entre guillemets) : ")
print("bonjour", prenom)

entrez votre prénom (entre guillemets) : "Célia"
bonjour "Célia"

In [26]:
from math import *
nombre = 121
print("racine carrée de", nombre, "=", sqrt(nombre))
angle = pi/6
print("sinus de", angle, "radians", "=", sin(angle))

racine carrée de 121 = 11.0
sinus de 0.5235987755982988 radians = 0.49999999999999994

In [29]:
phr = input("Veuillez entrer une phrase : ")
cch = input("Entrez le caractère à compter : ")
nc = i = 0
while i < len(phr):
    if phr[i] == cch:
        nc = nc + 1
    i += 1
print("La phrase contient", nc, "caractères", cch)

Veuillez entrer une phrase : Le chat blanc mange du fromage.
Entrez le caractère à compter : a
La phrase contient 4 caractères a

In [34]:
def table7():
    n = 1
    while n <= 10:
        print(n * 7)
        n = n + 1

In [35]:
table7()

7
14
21
28
35
42
49
56
63
70

In [36]:
def table(base):
    n = 1
    while n < 11:
        print(n * base)
        n += 1

In [38]:
a = 1
while a <= 20:
    print("\nTable de", a)
    table(a)
    a +=1

Table de 1
1
2
3
4
5
6
7
8
9
10

Table de 2
2
4
6
8
10
12
14
16
18
20

Table de 3
3
6
9
12
15
18
21
24
27
30

Table de 4
4
8
12
16
20
24
28
32
36
40

Table de 5
5
10
15
20
25
30
35
40
45
50

Table de 6
6
12
18
24
30
36
42
48
54
60

Table de 7
7
14
21
28
35
42
49
56
63
70

Table de 8
8
16
24
32
40
48
56
64
72
80

Table de 9
9
18
27
36
45
54
63
72
81
90

Table de 10
10
20
30
40
50
60
70
80
90
100

Table de 11
11
22
33
44
55
66
77
88
99
110

Table de 12
12
24
36
48
60
72
84
96
108
120

Table de 13
13
26
39
52
65
78
91
104
117
130

Table de 14
14
28
42
56
70
84
98
112
126
140

Table de 15
15
30
45
60
75
90
105
120
135
150

Table de 16
16
32
48
64
80
96
112
128
144
160

Table de 17
17
34
51
68
85
102
119
136
153
170

Table de 18
18
36
54
72
90
108
126
144
162
180

Table de 19
19
38
57
76
95
114
133
152
171
190

Table de 20
20
40
60
80
100
120
140
160
180
200

In [39]:
def epeler(mot):
    for m in mot:
        print(m)
epeler("chat")

c
h
a
t

In [40]:
def tableMulti(base, debut, fin):
    print("Fragment de la table de multiplication par", base)
    n = debut
    while(n <= fin):
        print(n, 'x', base, '=', n * base)
        n += 1

In [41]:
tableMulti(5, 1, 10)

Fragment de la table de multiplication par 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [42]:
t, d, f = 11, 5, 10
while(t < 21):
    tableMulti(t, d, f)
    t, d, f = t+1, d+3, f+5

Fragment de la table de multiplication par 11
5 x 11 = 55
6 x 11 = 66
7 x 11 = 77
8 x 11 = 88
9 x 11 = 99
10 x 11 = 110
Fragment de la table de multiplication par 12
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120
11 x 12 = 132
12 x 12 = 144
13 x 12 = 156
14 x 12 = 168
15 x 12 = 180
Fragment de la table de multiplication par 13
11 x 13 = 143
12 x 13 = 156
13 x 13 = 169
14 x 13 = 182
15 x 13 = 195
16 x 13 = 208
17 x 13 = 221
18 x 13 = 234
19 x 13 = 247
20 x 13 = 260
Fragment de la table de multiplication par 14
14 x 14 = 196
15 x 14 = 210
16 x 14 = 224
17 x 14 = 238
18 x 14 = 252
19 x 14 = 266
20 x 14 = 280
21 x 14 = 294
22 x 14 = 308
23 x 14 = 322
24 x 14 = 336
25 x 14 = 350
Fragment de la table de multiplication par 15
17 x 15 = 255
18 x 15 = 270
19 x 15 = 285
20 x 15 = 300
21 x 15 = 315
22 x 15 = 330
23 x 15 = 345
24 x 15 = 360
25 x 15 = 375
26 x 15 = 390
27 x 15 = 405
28 x 15 = 420
29 x 15 = 435
30 x 15 = 450
Fragment de la table de multiplication par 16
20 x 16 = 320
21 x 16 = 336
22 x 16 = 352
23 x 16 = 368
24 x 16 = 384
25 x 16 = 400
26 x 16 = 416
27 x 16 = 432
28 x 16 = 448
29 x 16 = 464
30 x 16 = 480
31 x 16 = 496
32 x 16 = 512
33 x 16 = 528
34 x 16 = 544
35 x 16 = 560
Fragment de la table de multiplication par 17
23 x 17 = 391
24 x 17 = 408
25 x 17 = 425
26 x 17 = 442
27 x 17 = 459
28 x 17 = 476
29 x 17 = 493
30 x 17 = 510
31 x 17 = 527
32 x 17 = 544
33 x 17 = 561
34 x 17 = 578
35 x 17 = 595
36 x 17 = 612
37 x 17 = 629
38 x 17 = 646
39 x 17 = 663
40 x 17 = 680
Fragment de la table de multiplication par 18
26 x 18 = 468
27 x 18 = 486
28 x 18 = 504
29 x 18 = 522
30 x 18 = 540
31 x 18 = 558
32 x 18 = 576
33 x 18 = 594
34 x 18 = 612
35 x 18 = 630
36 x 18 = 648
37 x 18 = 666
38 x 18 = 684
39 x 18 = 702
40 x 18 = 720
41 x 18 = 738
42 x 18 = 756
43 x 18 = 774
44 x 18 = 792
45 x 18 = 810
Fragment de la table de multiplication par 19
29 x 19 = 551
30 x 19 = 570
31 x 19 = 589
32 x 19 = 608
33 x 19 = 627
34 x 19 = 646
35 x 19 = 665
36 x 19 = 684
37 x 19 = 703
38 x 19 = 722
39 x 19 = 741
40 x 19 = 760
41 x 19 = 779
42 x 19 = 798
43 x 19 = 817
44 x 19 = 836
45 x 19 = 855
46 x 19 = 874
47 x 19 = 893
48 x 19 = 912
49 x 19 = 931
50 x 19 = 950
Fragment de la table de multiplication par 20
32 x 20 = 640
33 x 20 = 660
34 x 20 = 680
35 x 20 = 700
36 x 20 = 720
37 x 20 = 740
38 x 20 = 760
39 x 20 = 780
40 x 20 = 800
41 x 20 = 820
42 x 20 = 840
43 x 20 = 860
44 x 20 = 880
45 x 20 = 900
46 x 20 = 920
47 x 20 = 940
48 x 20 = 960
49 x 20 = 980
50 x 20 = 1000
51 x 20 = 1020
52 x 20 = 1040
53 x 20 = 1060
54 x 20 = 1080
55 x 20 = 1100

In [48]:
def stop_lettre(stri, char):
    for s in stri:
        if(s == char):
            break
        print(s)

In [49]:
stop_lettre("le chat", "a")

l
e

c
h

In [50]:
def politesse(nom, vedette = 'Monsieur'):
    print("Veuillez agréer,", vedette, nom, ", mes salutations distinguées")

In [51]:
politesse("Célia", "Mademoiselle")

Veuillez agréer, Mademoiselle Célia , mes salutations distinguées

In [52]:
def multi(nb1, nb2 = 10):
    print(nb1*nb2)

In [53]:
multi(5)

50

In [54]:
def f(s):
    print(s)
f("bonsoir")

bonsoir

In [58]:
def f(n):
    n = n*2
    return n

In [59]:
print(f(3))

6

In [62]:
def table(base):
    result = []
    n = 1
    while(n < 11):
        b = n * base
        result.append(b)
        n += 1
    return(result)

In [63]:
table(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]